<nav class="navbar navbar-expand-lg" style="background-color: #222831 !important;">
    <img src="./assets/Guess.png" alt="" width="50px" title="Guess The Number By Rahul Saxena">
    <h2 style="color: white;" title="By Rahul Saxena">Guess The Number</h2>
    <button type="button" class="btn btn-lg btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter">Instructions</button>
</nav>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Read The Instructions Carefully</h5>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Enter Your Name & Click on The Submit Button.</li>
                    <hr>
                    <li>Let's Start the Game.</li>
                    <li>Computer will guess a number(between 1 to 100).</li>
                    <li>On each attempt, you have to guess that number.</li>
                    <li>
                        <b style="color: red">High:</b> The number you guessed is higher than the number chosen by the computer.
                        <br>
                        <b style="color: blue">Low:</b> The number you guessed is lower than the number chosen by the computer.
                    </li>
                    <li>If you guessed it right, Tadaa!! <span style="color:rgb(38, 209, 38)">You Win</span> the game or else keep <span style="color:orange">Trying</span>.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>