.container-fluid {
    height: 92vh;
    background-color: #FDE74C;
    text-align: center;
    padding-top: 70px;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input,
button {
    outline: 4px solid black;
}

input::placeholder,
input::content {
    text-align: center;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 575px) {
    input {
        margin-bottom: 15px;
    }
}